$white: #FFFFFF
$offwhite: #F1F1F1
$black: #000000
$offblack: #333333

$primary: #EA6045
$primary-dark: darken($primary, 10%)
$primary-darker: darken($primary, 20%)
$primary-light: lighten($primary, 10%)
$primary-lighter: lighten($primary, 20%)

$secondary: #3F5666
$secondary-dark: darken($secondary, 10%)
$secondary-darker: darken($secondary, 20%)
$secondary-light: lighten($secondary, 10%)
$secondary-lighter: lighten($secondary, 20%)

$background-color: #fefefe
$sidebar-color: $secondary
$button-color: $secondary