$red: #DA0734;
$red-dk: darken($red, 15%);
$red-lt: lighten($red, 15%);


$yellow: #F1A20D;
$yellow-dk: darken($yellow, 15%);
$yellow-lt: lighten($yellow, 15%);


$blue: #4AABB1;
$blue-dk: darken($blue, 15%);
$blue-lt: lighten($blue, 15%);


$white: #FCF3E7;


$purple: #3F1833;
$purple-dk: darken($purple, 15%);
$purple-lt: lighten($purple, 15%);


$gray: #3D3D3D;
$gray-lt: lighten($gray, 15%);
$gray-lt2: lighten($gray-lt, 15%);
$gray-lt3: lighten($gray-lt2, 15%);
$gray-lt4: lighten($gray-lt3, 15%);

$primary: $gray;
$secondary: $yellow;