$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

/* Small to Medium Devices */
@media (max-width: $screen-md-min) {
    .post-list {
      .post {
          div {
            line-height: 20px !important;

            .title {
                font-size: 20px !important;
            }

            .thumb {
                display: none !important;
            }
        }
    }
}
}