@import "fonts";
@import "colors";
@import "pygments";
@import "media";

body {
  font-family: $body-font;
  font-size: 18px;
  color: $gray;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: $header-font;
  font-size: 40px;
  text-transform: uppercase;
  color: $primary;
}

h2 {
  font-family: $header-font;
  font-size: 28px;
  text-transform: uppercase;
  color: $primary;
}

h3 {
  font-family: $header-font;
  font-size: 22px;
  text-transform: uppercase;
}

h4 {
  font-family: $header-font;
  font-size: 20px;
}

h5, h6 {
  font-family: $header-font;
  font-size: 18px;
}

a {
  color: $blue;

  &:hover {
    text-decoration: none;
    color: $blue-dk;
  }
}

nav.navbar {
  text-align: center;
  background-color: #fff;
  padding: 20px 0;
  border: none;
  margin-bottom: 30px;
}

footer {
  height: 80px;
}



.post-list {
  list-style: none;

  .post {
    position: relative;
    border-top: 1px solid #ebeaec;
    padding: 15px 0;

    div {
      line-height: 100px;

      .title {
        font-family: $header-font;
        font-size: 28px;
        text-transform: uppercase;
        color: $primary;
      }

      .thumb {
        position: absolute;
        right: 20px;
        display: inline-block;
        height: 100px;
        width: 100px;
        border-radius: 50px;

        // background-image: url('/assets/img/posts/logo.svg');
        background-size: cover;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: .8;
      }
    }

    &:hover {
      .title {
        color: $red;
      }
    }
  }
}