---
layout: default
---

<section>
  <h1>Theisen Sanders</h1>
</section>

<section>
  <h5>About Me</h5>
  <p>I am a Senior Software Engineer at <a href="https://workiva.com">Workiva</a>. I graduated from
    Iowa State University in 2013 with a Computer Science degree. Check out my resume for my experience,
    and I'll use this website semi-infrequently to post projects I'm working on.</p>

  <a class="button button-primary" href="https://www.dropbox.com/s/jxow5xu29yes7co/resume.pdf?raw=1">Resume</a>
  <a class="button button-primary" href="https://github.com/theisensanders-wf">Github</a>
  <a class="button button-primary" href="https://twitter.com/theisensanders">Twitter</a>
</section>

{% for post in site.posts %}
<section>
  <h5>{{ post.title }}</h5>
  <h6>{{ post.date | date:"%B %d, %Y" }}</h6>
  <p>{{ post.content }}</p>
  {% if post.github %}<a class="button" href="https://github.com/theisensanders-wf/{{ post.github }}">Github</a>{% endif %}
  {% if post.gist %}<a class="button" href="https://gist.github.com/{{ post.gist }}">Gist</a>{% endif %}
</section>
{% endfor %}
