{% capture header %}
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

{% if page.title %}
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
{% else %}
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title }}" />  
    <meta property="og:type" content="website" /> 
{% endif %}

{% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | xml_escape }}">
{% else %}
    <meta name="description" content="{{ site.description }}">
{% endif %}

{% capture page_url %}{{ site.url }}{{ page.url | replace:'/index.html','/' }}{% endcapture %}
<meta property="og:url" content="{{ page_url }}" />

{% if page.thumbnail %}
    <meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}" />
{% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.thumbnail }}" />
{% endif %}

<link rel="shortcut icon" href="favicon.png?v=1" />
 
{% endcapture %}{{ header | strip_newlines }}