body {
    margin: 0;
    background-color: #1abc9c;
}

#wrapper {
    height: 100%;
    overflow: visible;
}

header {
    width: 100%;
    text-align: center;
    display: block;
    height: 125px;
    background-color: #ecf0f1;
}

header a {
    color: #000000;
    text-decoration: none;
}

header a:hover {
    color: #000000;
}

header h1 {
    font-size: 75px;
    font-size: 8.5rem;
    font-weight: 500;
    letter-spacing: -2px;
    margin-right: 10px;
    line-height: 125px;
}

#post-content {

}

.post {
    margin: 50px 0;
}

.post .title {
    color: #F1F1F1;
}

.post .tags {
    margin: 10px;
}

.post .date {
    margin: 0 10px;
}
