@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
/* line 4, ../_sass/blog.sass */
body {
  margin: 0;
  background-color: #fefefe;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 9, ../_sass/blog.sass */
#wrapper {
  height: 100%;
  overflow: visible;
}

/* line 13, ../_sass/blog.sass */
header {
  width: 100%;
  text-align: center;
  display: block;
  height: 125px;
  margin: 40px 0;
  white-space: nowrap;
  background-color: #ea6045;
}
/* line 21, ../_sass/blog.sass */
header a {
  color: #fefefe;
  text-decoration: none;
}
/* line 24, ../_sass/blog.sass */
header a:hover {
  color: #f4f4f4;
}
/* line 26, ../_sass/blog.sass */
header h1 {
  font-size: 75px;
  font-size: 8.5rem;
  font-weight: 500;
  letter-spacing: -2px;
  margin-right: 10px;
  line-height: 125px;
}

/* line 35, ../_sass/blog.sass */
.content .post {
  margin: 10px 0 100px 0;
}
/* line 37, ../_sass/blog.sass */
.content .post .post-header {
  margin-bottom: 30px;
}
/* line 39, ../_sass/blog.sass */
.content .post .post-header i {
  margin-right: 4px;
}
/* line 41, ../_sass/blog.sass */
.content .post .post-header .title {
  margin-bottom: 20px;
}
/* line 43, ../_sass/blog.sass */
.content .post .post-header .title h1 {
  color: #3f5666;
}
/* line 45, ../_sass/blog.sass */
.content .post .post-header .tags .label {
  background-color: #ea6045;
}
/* line 47, ../_sass/blog.sass */
.content .post .post-content {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
/* line 51, ../_sass/blog.sass */
.content .post .post-content a {
  color: #ea6045;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
/* line 53, ../_sass/blog.sass */
.content .post .post-content a:hover {
  color: #e23a1a;
}
/* line 61, ../_sass/blog.sass */
.content .post .post-content p {
  margin: 20px 0;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
/* line 69, ../_sass/blog.sass */
.content .post .post-content img {
  display: block;
  max-width: 70%;
  margin: 20px auto;
  -moz-box-shadow: 0 0 5px 0 #333333;
  -webkit-box-shadow: 0 0 5px 0 #333333;
  box-shadow: 0 0 5px 0 #333333;
}
/* line 76, ../_sass/blog.sass */
.content .post .post-content li {
  margin: 10px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 85, ../_sass/blog.sass */
.pagination a {
  color: #333333;
}

/* line 88, ../_sass/blog.sass */
footer {
  margin: 0px 0 60px 60px;
  font-weight: 400;
  font-size: 28px;
}
/* line 92, ../_sass/blog.sass */
footer a {
  color: #ea6045;
}
/* line 94, ../_sass/blog.sass */
footer a:hover {
  color: #e23a1a;
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  /* line 99, ../_sass/blog.sass */
  header h1 {
    font-size: 70px;
  }
}
@media (max-width: 767px) {
  /* line 103, ../_sass/blog.sass */
  .content {
    padding: 15px;
  }

  /* line 105, ../_sass/blog.sass */
  header h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 481px) and (max-width: 649px) {
  /* line 109, ../_sass/blog.sass */
  header h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 480px) {
  /* line 113, ../_sass/blog.sass */
  header h1 {
    font-size: 40px;
  }
}
