
h1.name {
    display:table;
}

h1.name span {
    vertical-align:middle;
    display:table-cell;
}

.profile-rounded {
    height: 10rem;
    border-radius: 4px;
    margin-right: 2rem;
}

section {
    padding: 6rem 0;
}

section:not(:first-child) {
    border-top: 1px solid #eee;
}


@media (min-width: 550px) {
    section:first-child {
        margin-top: 8rem;
    }
}


section h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: .2rem;
}

