/* line 1, ../_scss/mixins/_buttons.scss */
button.btn {
  outline: none;
  margin: 0;
  border: 0;
  border-radius: .25em;
  background: #e0e0e0;
  cursor: pointer;
  padding: .4em .8em;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  color: inherit;
  box-shadow: 0 .2em #888;
  -webkit-transform: translateY(-0.2em);
  -moz-transform: translateY(-0.2em);
  transform: translateY(-0.2em);
}
/* line 19, ../_scss/mixins/_buttons.scss */
button.btn.hover, button.btn:hover {
  background: #e6e6e6;
}
/* line 23, ../_scss/mixins/_buttons.scss */
button.btn.active, button.btn:active {
  box-shadow: none;
  background: #e0e0e0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

/* line 6, ../_scss/main.scss */
body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
