@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
/*!
 * Flat & Scroll - Multipurpose One Page Theme
 *
 * Copyright 2013
 * Created by: Carlos Alvarez
 * URL: http://www.basicoh.com
 * Designed and built based on Twitter Bootstrap.
 * Tags: multipurpose, agency theme, one page, single page, responsive, green, flat */
/* Global */
/* line 16, ../_sass/styles.sass */
html {
  font-size: 62.5%;
}

/* line 19, ../_sass/styles.sass */
body {
  background: #fefefe;
  color: #333333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

/* line 27, ../_sass/styles.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* line 32, ../_sass/styles.sass */
p {
  margin: 0 10px 10px 0;
}

/* line 35, ../_sass/styles.sass */
a {
  color: #f1f1f1;
  text-decoration: none;
}
/* line 38, ../_sass/styles.sass */
a:hover {
  color: white;
  text-decoration: none;
}

/* Navigation */
/* line 44, ../_sass/styles.sass */
#logo {
  float: left;
  margin: 12px 0 12px 18px;
}
/* line 47, ../_sass/styles.sass */
#logo a {
  display: block;
}

/* line 50, ../_sass/styles.sass */
#sidebar {
  background-color: #3f5666;
  height: 120%;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  z-index: 10;
}

/* line 60, ../_sass/styles.sass */
#nav {
  margin-top: 80px;
}
/* line 62, ../_sass/styles.sass */
#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 66, ../_sass/styles.sass */
#nav ul li {
  color: #f1f1f1;
  cursor: pointer;
  display: inline-block;
  line-height: 22px;
  filter: alpha(opacity=40);
  font-size: 16px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 100;
  opacity: 0.4;
  padding: 8px 0 8px 15px;
  text-transform: uppercase;
  width: 70%;
}
/* line 80, ../_sass/styles.sass */
#nav ul li.active {
  filter: alpha(opacity=100);
  opacity: 1;
}
/* line 83, ../_sass/styles.sass */
#nav ul li.last {
  padding-right: 0px;
}
/* line 85, ../_sass/styles.sass */
#nav li span {
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding-left: 10px;
  width: 0;
}
/* line 94, ../_sass/styles.sass */
#nav .external-links {
  position: fixed;
  bottom: 0px;
  padding-bottom: 20px;
}

/* line 99, ../_sass/styles.sass */
.btn-navbar {
  cursor: pointer;
  filter: alpha(opacity=40);
  float: left;
  margin: 20px 5px 10px;
  opacity: 0.4;
  padding: 7px 10px;
}
/* line 106, ../_sass/styles.sass */
.btn-navbar .icon-bar {
  background-color: white;
  border-radius: 1px 1px 1px 1px;
  box-shadow: none;
  display: block;
  height: 2px;
  width: 18px;
}

/* Expanded Nav Styling */
/* line 117, ../_sass/styles.sass */
.expanded #container {
  left: 100px;
  transform: translate3d(50px, 0px, 0px) scale3d(1, 1, 1);
}
/* line 120, ../_sass/styles.sass */
.expanded #sidebar {
  width: 150px;
}
/* line 122, ../_sass/styles.sass */
.expanded #nav li {
  width: 90%;
}
/* line 124, ../_sass/styles.sass */
.expanded #nav li span {
  display: inline-block;
  height: auto;
  opacity: 1;
  overflow: visible;
  width: auto;
}

/* General Styling */
/* line 134, ../_sass/styles.sass */
#wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 139, ../_sass/styles.sass */
#container {
  backface-visibility: hidden;
  left: 50px;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 500ms ease 0s;
  width: 100%;
}

/* line 147, ../_sass/styles.sass */
.section {
  background-attachment: scroll;
  background-position: center top;
  margin-left: -50px;
  position: relative;
  padding: 150px 0 170px;
}
/* line 153, ../_sass/styles.sass */
.section h2 {
  display: inline-block;
  font-size: 58px;
  font-size: 5.8rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 72px;
}
/* line 160, ../_sass/styles.sass */
.section h4 {
  font-size: 23px;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 28px;
  margin: 0 0 20px;
  padding-bottom: 5px;
}
/* line 167, ../_sass/styles.sass */
.section h5 {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 20px;
  padding-bottom: 5px;
}
/* line 175, ../_sass/styles.sass */
.section .title hr {
  border-color: black;
  border-width: 1px 0 0;
  margin-top: 50px;
  width: 100%;
}
/* line 180, ../_sass/styles.sass */
.section .title .alt hr {
  border-color: #f1f1f1;
}
/* line 182, ../_sass/styles.sass */
.section .desc {
  margin-top: 20px;
}
/* line 184, ../_sass/styles.sass */
.section .content {
  margin-top: 75px;
}

/* line 187, ../_sass/styles.sass */
.container-fluid {
  margin: 0 auto;
  padding-right: 80px;
  padding-left: 80px;
}

/* line 193, ../_sass/styles.sass */
.control-group .controls input, .control-group .controls textarea {
  background: #fefefe;
  border-radius: 0px;
  min-height: 36px;
}
/* line 197, ../_sass/styles.sass */
.control-group .controls input:focus, .control-group .controls textarea:focus {
  border-color: rgba(144, 144, 144, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(144, 144, 144, 0.9);
}

/* line 201, ../_sass/styles.sass */
.alert, .alert-error {
  border-radius: 0px;
}

/* line 204, ../_sass/styles.sass */
.btn-default {
  background: none #f1f1f1;
  color: black;
  margin-top: 75px;
  border: medium none;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 20px;
  padding: 8px 14px;
  text-align: left;
  text-transform: uppercase;
  width: 190px;
}
/* line 220, ../_sass/styles.sass */
.btn-default span {
  font-weight: 700;
}

/* line 223, ../_sass/styles.sass */
.btn-inverse {
  background: none #3f5666;
  color: #f1f1f1;
  margin-top: 25px;
  border: medium none;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 20px;
  padding: 8px 14px;
  text-align: left;
  text-transform: uppercase;
  width: 190px;
}
/* line 239, ../_sass/styles.sass */
.btn-inverse span {
  font-weight: 700;
}
/* line 241, ../_sass/styles.sass */
.btn-inverse:hover {
  background: none #2c3b46;
}

/* line 244, ../_sass/styles.sass */
.btn-inverse.alt, .btn-default.alt {
  text-align: right;
}

/* line 247, ../_sass/styles.sass */
.btn-inverse i, .btn-default i {
  float: right;
  line-height: 20px;
}

/* line 251, ../_sass/styles.sass */
.btn-inverse.alt i, .btn-default.alt i {
  float: left;
}

/* line 254, ../_sass/styles.sass */
.read-more {
  cursor: pointer;
  font-weight: 500;
  margin-top: 20px;
  padding-right: 10px;
}

/* line 261, ../_sass/styles.sass */
.table th, .table td {
  border-top: 1px solid #333333;
  line-height: 20px;
  padding: 10px 2px;
  text-align: left;
  vertical-align: top;
}

/* line 269, ../_sass/styles.sass */
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: rgba(60, 60, 60, 0.4);
}

/* line 273, ../_sass/styles.sass */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(75, 75, 75, 0.4);
}

/* Section 1 */
/* line 278, ../_sass/styles.sass */
#section1 {
  background: #ea6045;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
/* line 285, ../_sass/styles.sass */
#section1 .intro {
  margin: 130px 0;
}
/* line 287, ../_sass/styles.sass */
#section1 .thumb {
  display: none;
}
/* line 290, ../_sass/styles.sass */
#section1 .intro h1 {
  color: white;
  font-size: 85px;
  font-size: 8.5rem;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 85px;
  margin-left: -5px;
}
/* line 298, ../_sass/styles.sass */
#section1 .intro h3 {
  color: white;
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: 100;
  line-height: 28px;
  margin: 0px;
  width: 80%;
}

/* Section 2 */
/* line 310, ../_sass/styles.sass */
#section2 h6 {
  padding: 15px;
}
/* line 312, ../_sass/styles.sass */
#section2 a {
  color: #ea6045;
}
/* line 314, ../_sass/styles.sass */
#section2 a:hover {
  color: #b52f14;
}
/* line 317, ../_sass/styles.sass */
#section2 p {
  margin-bottom: 20px;
}

/* line 320, ../_sass/styles.sass */
.toolbox-header {
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: -5px;
}

/* line 325, ../_sass/styles.sass */
.toolbox-item {
  height: 20px;
}

/* line 328, ../_sass/styles.sass */
.skill {
  text-align: center;
}

/* Section 3 */
/* line 333, ../_sass/styles.sass */
#section3 {
  background-image: url(../img/project-bg.jpg);
  color: #f1f1f1;
}
/* line 336, ../_sass/styles.sass */
#section3 h2 {
  margin-left: -5px;
}
/* line 338, ../_sass/styles.sass */
#section3 .content .img-wrapper img {
  max-width: 96%;
  padding: 2%;
  background-color: #f1f1f1;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/* line 347, ../_sass/styles.sass */
#section3 img:hover {
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 352, ../_sass/styles.sass */
#section3 .img-wrapper {
  position: relative;
}
/* line 354, ../_sass/styles.sass */
#section3 #other-projects li {
  margin-bottom: 15px;
}
/* line 356, ../_sass/styles.sass */
#section3 .img-sticker {
  background-color: #3f5666;
  position: absolute;
  top: -50px;
  right: -50px;
  width: 110px;
  height: 110px;
  border: 2px solid #333333;
  border-radius: 50%;
  text-align: center;
  display: table;
}
/* line 367, ../_sass/styles.sass */
#section3 .img-sticker .img-sticker-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
}
/* line 372, ../_sass/styles.sass */
#section3 .img-sticker .img-sticker-inner img {
  background-color: transparent;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

/* Section 4 */
/* line 382, ../_sass/styles.sass */
#section4 h2 {
  margin-left: -4px;
}
/* line 384, ../_sass/styles.sass */
#section4 .read-more a {
  color: black;
}
/* line 386, ../_sass/styles.sass */
#section4 .read-more a:hover {
  color: black;
}
/* line 388, ../_sass/styles.sass */
#section4 .content {
  min-height: 300px;
}
/* line 389, ../_sass/styles.sass */
#section4 .content .span4, #section4 .content .span6 {
  padding-right: 20px;
}
/* line 392, ../_sass/styles.sass */
#section4 .content .span8 {
  display: none;
}
/* line 394, ../_sass/styles.sass */
#section4 .content .span8.current {
  display: block;
}
/* line 396, ../_sass/styles.sass */
#section4 ul.article-tags {
  border-top: 1px solid black;
  margin: 40px 0 0;
}
/* line 399, ../_sass/styles.sass */
#section4 ul.article-tags li {
  border-bottom: 1px solid black;
  cursor: pointer;
  display: block;
  font-size: 17px;
  font-size: 1.7rem;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  padding-left: 45px;
  position: relative;
}
/* line 410, ../_sass/styles.sass */
#section4 ul.article-tags li:hover, #section4 ul.article-tags li.current {
  background-color: #ea6045;
  color: #fefefe;
}
/* line 413, ../_sass/styles.sass */
#section4 ul.article-tags i {
  left: 15px;
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  top: 10px;
}
/* line 419, ../_sass/styles.sass */
#section4 h4 {
  border-bottom: 1px solid black;
  height: 35px;
  margin-bottom: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 426, ../_sass/styles.sass */
#section4 #twitter-widget {
  margin-top: 10px;
}

/* Section 5 */
/* line 431, ../_sass/styles.sass */
#section5 {
  background: #ea6045;
  color: #f1f1f1;
  padding-bottom: 0px;
}
/* line 435, ../_sass/styles.sass */
#section5 h4.intro {
  border-bottom: 1px solid #f1f1f1;
  height: 35px;
  margin-bottom: 18px;
}
/* line 439, ../_sass/styles.sass */
#section5 .content {
  position: relative;
}
/* line 441, ../_sass/styles.sass */
#section5 .content .alt {
  margin-top: 20px;
}
/* line 443, ../_sass/styles.sass */
#section5 .content .alt h4 {
  line-height: 24px;
  margin: 0;
  padding-right: 20px;
  display: inline-block;
}

/* line 449, ../_sass/styles.sass */
#section6 .content .alt span {
  display: inline-block;
}

/* line 454, ../_sass/styles.sass */
#section5 .content .alt h5 {
  display: inline;
  line-height: 20px;
  margin: 0;
  padding-right: 10px;
}
/* line 459, ../_sass/styles.sass */
#section5 .content .span4 {
  padding-right: 25px;
}
/* line 461, ../_sass/styles.sass */
#section5 .btn-default {
  margin-top: 15px;
}
/* line 463, ../_sass/styles.sass */
#section5 #footer {
  margin: 200px 0 40px;
}
/* line 465, ../_sass/styles.sass */
#section5 #footer p {
  font-size: 14px;
  font-size: 1.4rem;
}

/* Media Queries */
@media screen and (min-width: 1800px) {
  /* line 472, ../_sass/styles.sass */
  #section1 {
    padding: 300px 0 !important;
  }
}
@media screen and (max-width: 1320px) {
  /* line 476, ../_sass/styles.sass */
  #section1 {
    background-size: 1320px auto;
  }
}
@media screen and (min-width: 1200px) {
  /* line 480, ../_sass/styles.sass */
  #section1 {
    padding: 170px 0;
  }
  /* line 483, ../_sass/styles.sass */
  #section1 .intro h1 {
    font-size: 90px;
    font-size: 9rem;
    line-height: 100px;
    letter-spacing: -4px;
  }
  /* line 488, ../_sass/styles.sass */
  #section1 .intro h3 {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 34px;
    width: 90%;
  }

  /* line 493, ../_sass/styles.sass */
  .section h2 {
    font-size: 67px;
    font-size: 6.7rem;
  }

  /* line 496, ../_sass/styles.sass */
  .container-fluid {
    width: 1024px;
  }
}
@media screen and (max-width: 1199px) {
  /* line 500, ../_sass/styles.sass */
  .section {
    margin-left: -50px;
    padding: 135px 0;
  }

  /* line 503, ../_sass/styles.sass */
  #section1 {
    background-size: 1200px auto;
  }
  /* line 505, ../_sass/styles.sass */
  #section1 .intro {
    margin: 100px 0;
  }
  /* line 507, ../_sass/styles.sass */
  #section1 .intro h3 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 24px;
  }

  /* line 511, ../_sass/styles.sass */
  .section .content {
    margin-top: 50px;
  }

  /* line 513, ../_sass/styles.sass */
  .container-fluid {
    padding-left: 105px;
    padding-right: 105px;
  }
}
@media screen and (max-width: 979px) {
  /* line 519, ../_sass/styles.sass */
  .section h2 {
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 58px;
  }
  /* line 523, ../_sass/styles.sass */
  .section .title hr {
    margin-top: 40px;
  }
  /* line 525, ../_sass/styles.sass */
  .section .desc .span8 {
    width: 100%;
  }

  /* line 528, ../_sass/styles.sass */
  #section1 .intro h1 {
    font-size: 70px;
    font-size: 7rem;
    line-height: 70px;
  }
  /* line 532, ../_sass/styles.sass */
  #section1 .intro h3 {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 22px;
  }

  /* line 536, ../_sass/styles.sass */
  #section5 .content .span4 {
    padding-right: 0px;
  }

  /* line 538, ../_sass/styles.sass */
  .container-fluid {
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  /* line 543, ../_sass/styles.sass */
  #section1 .intro h3 {
    width: 85%;
  }

  /* line 545, ../_sass/styles.sass */
  #section2 .content .expand {
    width: 48.6188%;
  }

  /* line 547, ../_sass/styles.sass */
  #section4 .content .expand {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 551, ../_sass/styles.sass */
  body {
    padding: 0px;
  }

  /* line 553, ../_sass/styles.sass */
  .section {
    padding: 100px 0;
  }
  /* line 555, ../_sass/styles.sass */
  .section .content {
    margin-top: 0;
  }
  /* line 557, ../_sass/styles.sass */
  .section .content .pull-right {
    float: left;
  }
  /* line 559, ../_sass/styles.sass */
  .section h4 {
    margin-top: 30px;
  }
  /* line 561, ../_sass/styles.sass */
  .section .title hr {
    margin-left: 0px;
  }

  /* line 563, ../_sass/styles.sass */
  #section1 {
    background-size: 920px auto;
  }
  /* line 565, ../_sass/styles.sass */
  #section1 .intro {
    margin: 120px 0;
  }
  /* line 567, ../_sass/styles.sass */
  #section1 .intro h3 {
    width: 55%;
  }

  /* line 570, ../_sass/styles.sass */
  #section3 .content img {
    margin-top: 30px;
    padding: 1.5%;
  }
  /* line 573, ../_sass/styles.sass */
  #section3 .table {
    margin-top: 30px;
  }
  /* line 574, ../_sass/styles.sass */
  #section3 .table th, #section3 .table td {
    font-size: 13px;
    font-size: 1.3rem;
  }

  /* line 578, ../_sass/styles.sass */
  #section5 .span8 {
    margin-top: 30px;
  }
}
@media screen and (min-width: 481px) and (max-width: 649px) {
  /* line 583, ../_sass/styles.sass */
  #section1 .intro h1 {
    font-size: 60px;
    font-size: 6rem;
    line-height: 60px;
  }
  /* line 587, ../_sass/styles.sass */
  #section1 .intro h3 {
    font-size: 20px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  /* line 596, ../_sass/styles.sass */
  #nav .external-links {
    padding-bottom: 0;
  }

  /* line 598, ../_sass/styles.sass */
  .section {
    padding: 80px 0;
  }

  /* line 600, ../_sass/styles.sass */
  #section1 {
    background-size: 1024px auto;
    padding: 60px 0;
  }
  /* line 603, ../_sass/styles.sass */
  #section1 .intro {
    margin: 50px 0;
  }
  /* line 605, ../_sass/styles.sass */
  #section1 .intro h1 {
    font-size: 50px;
    font-size: 5rem;
    line-height: 50px;
  }
  /* line 609, ../_sass/styles.sass */
  #section1 .intro h3 {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 24px;
    width: 100%;
  }
  /* line 614, ../_sass/styles.sass */
  #section1 .thumb {
    background: #95a5a6;
    display: block;
    margin-left: 3%;
    max-width: 80%;
    padding: 3%;
  }

  /* line 621, ../_sass/styles.sass */
  #section3 .table th, #section3 .table td {
    font-size: 11px;
    font-size: 1.1rem;
  }

  /* line 624, ../_sass/styles.sass */
  #section4 h4 {
    height: auto;
  }
}
