button.btn {
    outline: none;
    margin: 0;
    border: 0;
    border-radius: .25em;
    background: #e0e0e0;
    cursor: pointer;
    padding: .4em .8em;
    text-rendering: optimizeLegibility;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    color: inherit;
    box-shadow: 0 .2em #888;
    -webkit-transform: translateY(-.2em);
    -moz-transform: translateY(-.2em);
    transform: translateY(-.2em);

    &.hover, &:hover {
        background: #e6e6e6;
    }

    &.active, &:active {
        box-shadow: none;
        background: #e0e0e0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}
