$height: 90px;
$logo-height: 50px;
$padding: ($height - $logo-height) / 2;

#header {
    padding-top: $padding;
    
    .header-left {
        text-align: center;

        @media(min-width: $screen-md-min) {
            text-align: left;
        }

        .logo {
            margin: 0;
            font-size: 24px;
            word-spacing: -5px;

            @media(min-width: $screen-md-min) {
                font-size: 34px;
                word-spacing: -8px;
            }

            img {
                height: $logo-height;
                margin-right: 8px;
            }

            a {
                color: $gray;
                text-decoration: none;
                letter-spacing: 1px;

                .lastname {
                    color: $primary;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .header-right {
        text-align: right;
        display: none;

        @media(min-width: $screen-md-min) {
            display: block;
        }

        .btn.btn-lg {
            font-family: $header-font;
            margin-top: ($logo-height - 45px) / 2;
        }
    }
}