$height: 90px;
$logo-height: 50px;
$padding: ($height - $logo-height) / 2;

#header {
    height: $height;
    padding-top: $padding;
    
    .header-left {
        .logo {
            margin: 0;

            img {
                height: $logo-height;
            }

            a {
                color: $gray;
                text-decoration: none;
                letter-spacing: 1px;
                word-spacing: -8px;

                .lastname {
                    color: $primary;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .header-right {
        text-align: right;

        .btn.btn-lg {
            font-family: $header-font;
            margin-top: ($logo-height - 45px) / 2;
        }
    }
}