---
layout: default
---

<div id="experiments">
    <p class="lead text-center">Here are some of my experiments in web development and design.</p>

    {% for post in site.posts %}
        {% assign mod = forloop.index | modulo:2 %}
        {% if mod == 1 %}<div class="row">{% endif %}

        <div class="col-md-6 experiment-container">
            <div class="experiment">
                {% assign url = post.links.app %}

                <h3 class="experiment-title">
                    {% if url != null %}<a href="{{ url` }}">{{ post.title }}</a>
                    {% else %}{{ post.title }} {% if post.eta %}[Coming Soon]{% endif %}{% endif %}
                </h3>
                {% if url != null %}<a href="{{ url }}">{% endif %}
                <img class="experiment-logo" src="{{ post.image }}">
                {% if url != null %}</a>{% endif %}
                <div class="experiment-body">
                    <p class="experiment-date">{{ post.date | date:"%B %Y" }}</p>
                    <p class="experiment-description">{{ post.excerpt }}</p>
                </div>
            </div>
        </div>

        {% if mod == 0 %}</div>{% endif %}
    {% endfor %}
</div>
