---
layout: default
---

<div class="post-meta">
    <span class="date">{{ page.date | date_to_string }}</span>
    <span class="title">{{ page.title }}</span>
    {% if page.subtitle %}<span class="subtitle">{{ page.subtitle }}</span>{% endif %}
</div>

{{ content }}

<div class="post-nav">
    {% if page.previous %}
        <a class="btn btn-default" href="{{ page.previous.url }}"><strong>Previous Post:</strong> {{ page.previous.title }}</a>
    {% endif %}

    {% if page.next %}
        <a class="btn btn-default" href="{{ page.next.url }}"><strong>Next Post:</strong> {{ page.next.title }}</a>
    {% endif %}
</div>